@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background: none;
}

li {
  list-style: none;
}

/* <!--========================================================
                              HEADER
    =========================================================--> */
header {
  display: flex;
  justify-content: space-between;
  background-color: #252525;
  padding: 12px;
  color: white;
}

header .icons .fa-magnifying-glass {
  margin-right: 12px;
}

/* <!--========================================================
                              CONTENT
    =========================================================--> */
.player {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: center;
  background-color: #252525;
}

.player video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

/* Video Info */
.info {
  padding: 12px;
}
.info .hashtags {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: small;
  color: blue;
}
.info .hashtags li {
  margin-right: 6px;
}
.info .video-title {
  display: flex;
}
.info .video-title .title {
  font-size: large;
  font-weight: bold;
}
.info .video-title .title.clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.info .video-title button {
  transition: transform 0.3s ease-in-out;
}
.info .video-title button.rotate {
  transform: rotate(180deg);
}
.info .views {
  font-size: small;
  color: darkgray;
}
.info .actions {
  display: flex;
  justify-content: space-around;
  font-size: small;
  margin: 10px 0;
}
.info .actions li button {
  display: flex;
  flex-direction: column;
  font-size: medium;
  align-items: center;
}
.info .actions li button span {
  margin-top: 5px;
}
.info .actions li button .active {
  color: blue;
}
.info .channel {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.info .channel .metadata {
  display: flex;
  align-items: center;
}
.info .channel .metadata img {
  width: 30px;
  height: 35px;
  border-radius: 50%;
}
.info .channel .metadata .info {
  display: flex;
  flex-direction: column;
}
.info .channel .metadata .info .name {
  font-size: medium;
}
.info .channel .metadata .info .subscribers {
  font-size: small;
  color: gray;
}
.info .channel .subscribe {
  color: red;
  font-size: medium;
}

.upNext {
  padding: 0 12px;
}

.infoAndUpnext {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .infoAndUpnext {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
/* <!--========================================================
                              FOOTER
=========================================================--> */