@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  box-sizing: border-box; /* 박스영역은 테두리까지 지정, content가 조금 줄어들수도 있음*/
}

body {
  font-family: 'Roboto', sans-serif;
}
/* <!--========================================================
                              HEADER
    =========================================================--> */

/* <!--========================================================
                              CONTENT
    =========================================================--> */

/* <!--========================================================
                              FOOTER
=========================================================--> */
